@font-face {
	font-family: 'Walkway';
	src: url('../fonts/Walkway Bold.eot');
	src: local('☺'), url('../fonts/Walkway Bold.woff') format('woff'), url('../fonts/Walkway Bold.ttf') format('truetype'), url('../fonts/Walkway Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
	@font-face {
	font-family: 'Walkway';
	src: url('../fonts/Walkway Black.eot');
	src: local('☺'), url('../fonts/Walkway Black.woff') format('woff'), url('../fonts/Walkway Black.ttf') format('truetype'), url('../fonts/Walkway Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');//font-family: Raleway;  
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Source+Sans+Pro&display=swap');//font-family: 'Source Sans Pro';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');//Source Sans Pro 400
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');//Raleway 600px
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');//Source Sans Pro 400 italic

html,body{
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction:column;
	min-height: 100%;
	overflow: hidden;
}
																	// header
.header {
	 display: flex;
}
																	// first part (1)
.landx {
	background: url('../img/img_01.jpg')0 0/100% auto no-repeat;
	 width: 100%;
	 height: 750px;
	 flex:1 1 auto;
	padding: 45px 0px;
	 

	&_row {}
	
	&_first-part {
		margin: 0px 0px 150px 0px;
		max-width: 1135px;
	}
	
	&_second-part {}
}
.landx_container {
	padding: 0px 385px;
	margin: 0 auto;
	height: 100%;
	max-width: 1903px;
}
.landx_first-part {
	
	&_row {
	display: flex;
	justify-content:space-between ;

	}
	
	&_brend {
	 font-family: Walkway;	
	font-size: 35px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	span{
		color: #1099e6;
	}
}
	
	&_networks {}
}
																	// second part (2)
.landx {
	
	&_second-part {
		 max-width: 945px;
		 margin: 0px auto; 
	}
}
.landx_second-part {
	
	&_row {
		display: flex;
	    flex-direction:column;
}
	
	&_business {
	font-family: Raleway;
	font-size: 45px;
	line-height: 60px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	margin: 0px 0px 25px 0px;
	  .solution{
	font-weight: 700;
	color: #0199e6;

	  }
	  .business{
    font-weight: 700;
	  }
	}
	
	&_text {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	margin: 0px 0px 55px 0px;
	}
	
	&_registration {
	width: 944px;
	height: 101px;
    background-color:rgba(0,0,0,0.5);
	padding: 25px 0px;
	margin: 0px 0px 25px 0px;
	}
	
	&_free-trial {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	margin: 0px 0px 0px 534px;
	
	
	 img{
	width: 34px;
	height: 26px;
	opacity: 0.5;
	margin: -10px 0px 0px 10px;
	
	 }
	}
}
.registration {
	
	
	&_items {
	  display: flex;
	  flex-direction:row;
	  padding:0px 20px;

	  input{
	  	 margin: 0px 0px 0px 20px;
		width: 214px;
		height: 54px;
		background-color: #000000;
		border: 1px solid rgba(1,153,230,0.29);
		box-shadow: -3px 0px 0px 0px #0199e6;
		padding: 0px 0px 0px 20px;	
	  } 
	  button{
	  	 margin: 0px 0px 0px 20px;
		width: 184px;
		height: 54px;
		background-color: #008ed6;
		font-family: Raleway;
		font-size: 16px;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	  }
    }
}
.user-name {
        
		font-family: 'Source Sans Pro';
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #5b5b5b;

}
.get-started {

}
.user-phone{
	    
		font-family: 'Source Sans Pro';
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color:#5b5b5b;
}
.user-email{
	    font-family: 'Source Sans Pro';
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color:#5b5b5b ;

}

input:first-child{
 margin:0px 0px 0px 10px;
}
																		// content
.content {
	flex:1 1 auto;
	&_row {}
	&_first-part {}
	&_second-part {}
	&_third-part {}
	&_fourth-part {}
	&_fifth-part {}
	&_sixth-part {}
	&_seventh-part {}
	&_eightht-part {}
}

                                                                        // first-part(1)
   .content {
	&_first-part {
		margin: 101px 0px 0px 0px; 
	 .container  {

 }
	}
}
.container {
}
.content_first-part {
	&_container{
	padding:0px 385px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
	display: flex;

	}
	&_img {
		margin: 0px 0px 100px 0px;
		background-color: #eceef1;
		border-radius: 5px;
			.icons{
				padding: 0px 0px 5px 0px;
				background-color: #eceef1;
			  img{
			  	margin: 0px 5px 0px 0px;

			  }
			 
			}
   }
}
.website{
	padding: 10px 																	//WEBSITE
}


 .first_text-box {
	margin: -10px 50px;
	&_title {
	font-family: Raleway;
	font-size: 35px;
	line-height: 50px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 22px 0px;
	}
	&_text {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
		margin: 0px 0px 40px 0px;	
	}
	&_list {
	 
	
		span{
	
	text-align: top;
	font-family: Raleway;
	font-size: 16px;
	line-height: 13px;
	font-weight: 700;
	color: #323232;
	margin: 0px 0px 0px 15px;
		}

		p{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0px 0px 45px 0px;
	
	 }
		}

		.icon_cus_des{
	display: inline-block;
	width: 32px;
	height: 33px;
	background-color: #0199e6;
	padding:10px;
	border-radius: 5px;
	align-self:flex-end; 
		}
	
	}
	.icon-text_row{
		display: flex;
		margin: 0px 0px 15px 0px;
	}
																		// second-part(2)
.content {
	&_second-part {
	width: 100%;
	height: 625px;
	max-width: 100%;
	background-color: #f7f8fa;
	padding: 100px 0px;
	}
	&_second-part_container {
	padding:0px 385px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;

	}
	&_second-part_row {
		display: flex;
		
	}
	&_second-part_img {
		margin: 0px 0px 100px 80px;
		background-color: #eceef1;
		border-radius: 5px;
	}
	&_second-part_text-box {
	 width: 499px;

	}
}

.website {
	padding: 10px;
}
.dots {
}
.icons {
	padding: 0px 0px 5px 0px;
	background-color: #eceef1;
	img{
	margin: 0px 5px 0px 0px;

	}
}

.second {
	width: 499px;
	&_text-box_title {
	font-family: Raleway;
	font-size: 35px;
	line-height: 49px;
	font-weight: 500;
	color: #323232;
	img{
	margin: 25px 0px 0px 0px;
	}
	}
	&_text-box_text {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #727272;
	margin: 0px 0px 45px 0px;
	}
	&_text-box_list {
		p{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #727272;
	margin: 0px 0px 45px 0px;
	}
	.icon_glo_cam{
	display: inline-block;
	width: 32px;
	height: 33px;
	background-color: #0199e6;
	padding:10px;
	border-radius: 5px;
	align-self:flex-end; 
	}

		img{

		}
		span{
	align-item:flex-end;
	font-family: Raleway;
	font-size: 16px;
	line-height: 13px;
	font-weight: 700;
	color: #323232;
	margin: 0px 0px 0px 15px;
		}
		.second_text-box_list_row{
			display: flex;
		}
		
	}
}
																		//third-part (3)
.content {
	&_third-part {

	}
}
.third-part {
	&_container {
	padding:0px 385px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {		

	}
	&_title {
		width: 400px;
		margin: 0px auto;
		span{
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 0px 73px;
		}
		img{
	margin: 10px 0px 0px 160px;
		}
	}
	&_title_text {
	font-family: 'Source Sans Pro';
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 10px 0px -15px 5px;
	}
	&_blocks {
		
		padding: 0px 100px;
		width: 1400px;
		margin: 70px 0px 0px -117px;
		img{
			width: 50px;
			height: 50px;
		}
	}
	&_blocks_row{
		display: flex;
		flex-wrap:wrap;
		height: 550px;
		
	}

}
.main_row{
	display: flex;
	flex-direction:column;
}
.main_title{
	font-family: Raleway;
	font-size: 20px;
	line-height: 64px;
	font-weight: 600;
	color: #323232;

}
.main_text{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #727272;

}
.block {
	&_container {
		width: 400px;
		height: 200px;
		
		padding: 0px 45px;
		img{
			margin: 0 auto;
		}
		.main_title{
			margin: 0 auto;
		}

	}

}
																		//fouth-part(4)
.content {
	&_fourth-part {
	width: 100%;
	height: 860px;
	max-width: 100%;
	background-color: #f7f8fa;
	padding: 100px 0px;
	}
}
.fourth-part {
	&_container {
	padding:0px 385px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
		
	}
	&_title {
		width: 390px;
		margin: 0 auto;
		span{
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 0px 95px;
	}
	img{
		margin: 10px 0px 0px 160px;
	}
	p{
	font-family: 'Source Sans Pro';
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0px 5px 70px 5px;
	}
	}
	&_colums {
		display: flex;
		justify-content:space-between;
	}
}

.basic {
	&_title {
	height: 100px;
	width: 360px;
	background-color: #323232;
	color:#fff;
	display: flex;
	flex-direction:column;
		.bas{
	font-family: Raleway;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	color: #ffffff;
	margin: 25px auto;
		}
		p{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 3px;
	font-weight: 400;
	margin: 0 auto ;
	}
	.price{
	font-weight: 700;
	color: #0199e6;
	}
	}
	&_list {
		width: 360px;
		height: 370px;
		border:1px solid #e5e5e5;
	}
	&_list_row {

	}
}

.allcolums {
}
.list1 {
	margin: 20px 0 0 0;
	height: 30px;
	width: 360px;
	border-bottom: 1px dotted #e7e7e7;
	display:flex;
	
}
.list {
	&_row {
	display: flex;
	justify-content:space-between;
	width: 360px;
	padding: 0px 15px 10px 15px;
	}
	&_text {
	display: inline-block;
	font-family:'Source Sans Pro';
	font-size: 16px;
	font-weight: 400;
	color: #000;
	margin: -5px 0px 0px 0px;
	}
	&_checkmark {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	}
	&_price {
	display: inline-block;
	font-family: Raleway;
	font-size: 18px;
	line-height:45px;
	font-weight: 700;
	}
}
.list{
	margin: 20px 0 0 0;
	height: 30px;
	width: 360px;
	border-bottom: 1px dotted #e7e7e7;
	display:flex;
}
.list7 {
	margin: 20px 0 0 0;
	height: 50px;
	width: 360px;
	border-bottom: 1px dotted #e7e7e7;
	display:flex;
}
.signup {
	font-family: Raleway;
	font-size: 16px;
	line-height: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #727272;
	width: 96px;
	height: 42px;
	background-color: #ffffff;
	border: 1px solid #727272;
	border-radius: 5px;
}
.premium {
	&_title {
	height: 100px;
	width: 360px;
	background-color: #0199e6;
	color:#fff;
	display: flex;
	flex-direction:column;}
		.bas{
	font-family: Raleway;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	color: #ffffff;
	margin: 25px auto;
		}
		p{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 3px;
	font-weight: 400;
	margin: 0 auto ;
	}
	.price2{
		font-weight: 700;
	}
	&_list {
		width: 360px;
		height: 370px;
		border:1px solid #e5e5e5;
	}
}
.ultimate {
		&_title {
	height: 100px;
	width: 360px;
	background-color:#323232;
	color:#fff;
	display: flex;
	flex-direction:column;}
		.bas{
	font-family: Raleway;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	color: #ffffff;
	margin: 25px auto;
		}
		p{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 3px;
	font-weight: 400;
	margin: 0 auto ;
	}
	.price{
		font-weight: 700;
		color: #0199e6;
	}
	&_list {
		width: 360px;
		height: 370px;
		border:1px solid #e5e5e5;
	}
}
																		//fifth-part
.content {
	&_fifth-part {
	width: 100%;
	height: 860px;
	max-width: 100%;
	padding: 100px 0px;
	}
}
.fifth-part {
	&_container {
	padding:0px 385px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
		display: flex;
		flex-direction:column;
	}
	&_title {
		width: 390px;
		margin: 0 auto;
		span{
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 0px 95px;
		}
		p{
	font-family: 'Source Sans Pro';
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0px 5px 70px 5px;
		}
		img{
	margin: 10px 0px 0px 160px;
		}
	}
	&_video {
		margin: 0 auto;
	}
	&_info {
		display: flex;
		margin: 35px auto;
		width: 895px;
		justify-content:space-between;
	}
}
.info {
	&_1 {}
	&_2 {}
	&_3 {}
}
.maininfo {
	width: 215px;
	height: 20px;
	span{
	font-family: Raleway;
	color: #323232;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	}
	img{
		margin: 0px 5px 0px 0px;
	}
}
																		//sixth-part
.content {
	&_sixth-part {
	width: 100%;
	height: 860px;
	max-width: 100%;
	padding: 100px 0px;
	background-color: #f7f8fa;
	margin: 100px 0 0 0 ;
	}
}
.sixth-part {
	&_container {
	padding:0px 300px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
		display: flex;
		flex-direction:column;
	}
	&_title {
	width: 390px;
	margin: 0 auto;
	span{
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 0px 20px;
	}
	img{
	margin: 10px 0px 10px 160px;
	}
	p{
	font-family: 'Source Sans Pro';
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0px 5px 70px 5px;
	}
	}
	&_slider {
	min-width: 0;
}
}
.slider {

&_item {
	margin: 0 5px;
	}
}
																		//slider
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items:flex-start
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
																		//конкретный слайдер
.sixth-part_slider{
	position: relative;
	padding: 0 60px;
	.slick-arrow{
		position: absolute;
		top:100%;
		z-index: 10;
		font-size: 0;
	}
	.slick-arrow.slick-prev{
			left:0;
	}
	.slick-arrow.slick-next{
		right:0;
	}
.slick-dots{
	width: 65px;
	display: flex;
	margin: 0 auto;
	justify-content:space-between;
	li{
	list-style: none;
	margin: 0 5px;
}
	button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #94cae6;
	border-radius: 50%;
	}
}
.slick-dots li.slick-active{
	button{
		background-color: #1099e6;
	}
}
}
.slider_item{
	margin: 0 10px 30px 10px;
}
																		//seventh-part
.content {
	&_seventh-part {
	width: 100%;
	height: 860px;
	max-width: 100%;
	padding: 100px 0px;
	}
}
.seventh-part {
	&_container {
	padding:0px 390px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {

	}
	&_title {
	width: 390px;
	margin: 0 auto;
	span{
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 500;
	color: #323232;
	margin: 0px 0px 0px 20px;
	}
	img{
	margin: 10px 0px 10px 160px;
	}
	p{
	font-family: 'Source Sans Pro';
	font-size: 17px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0px 5px 70px 5px;
	}
	}
	&_company {
	width: 670px;
	margin: 80px auto;
	img{
		margin: 0 0 0 27px;
		}
	img:first-child{
		margin: 0 5px 0 0;
		}
	img:last-child{
		margin: 0px 0px 0px 50px;
	}
	.mashable{
		margin: 5px 27px 0px 35px;
	}
}
	&_reviews {
	}
}
.seventh-part_reviews{
	display: flex;
	&_review1{}
}
.review1 {
	&_block1 {
	width: 361px;
	height: 226px;
	background-color: #f7f8fa;
	box-shadow: 0px 2px 0px 0px #e5e5e5;
	margin: 0 25px 0 0;
		img:first-child{ 
	padding: 10px;
	width: 38px;
	height: 38px;
	background-color: #0199e6;
	border: 3px solid #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 1px #e5e5e5;
	margin: -19px 161px 0px 161px;
		}
		img:last-child{
	margin: -5px 166px 0px 166px;
		}
		span{
	text-align: center;
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 30px 35px;
	}
	}
	&_row1 {
		display: flex;
		flex-wrap:wrap;
	}
	&_block2 {
	margin: 25px 0 0 0 ;
	width: 361px;
	padding: 0 100px;
	}
	&_row2 {
	
	}
}
	

.name {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
	color: #0199e6;
	margin: 0 0 0 25px;
}
.name2{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
	color: #0199e6;
	margin: 0 0 0 42px;
}

.abz {
	font-family: 'Source Sans Pro';
	font-size: 13px;
	line-height: 25px;
	font-weight: 400;
	color: #727272;
	margin: 0 0 0 45px;
}
																		//eightht-part
.content {
	&_eightht-part {
	width: 100%;
	height: 860px;
	max-width: 100%;
	padding: 100px 0px;
	background: url('../img/footerimg.jpg')0 0/100% auto no-repeat;
	max-height: 451px;
}
}
.eightht-part {
	&_container {
	padding:0px 300px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
		display: flex;
		flex-direction:column;

	}
	
	&_text1 {
	font-family: Raleway;
	font-size: 20px;
	line-height: 65px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	}
	&_text2 {
	font-family: Raleway;
	font-size: 35px;
	line-height: 65px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	}
	&_button {
	display: flex;
	width: 184px;
	height: 54px;
	background-color: #008ed6;
	border-radius: 5px;
	justify-content:center;
	margin: 50px 0 0 550px;
	span{
	font-family: Raleway;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 5px;
		}
		img{
			 align-self:center;
			 margin: 0 0 0 5px;
		}
	}
}
																		//ninth-part
.content {
	&_ninth-part {
	width: 100%;
	height: 300px;
	max-width: 100%;
	padding: 100px 0px;
	}
}
.ninth-part {
	&_container {
	padding:0px 390px;
	height: 100%;
	width: 1903px;
	max-width: 1903;
	margin: 0 auto;
	}
	&_row {
	display: flex;
	flex-direction:column;
	}

	&_text {
	font-family: Raleway;
	font-size: 24px;
	line-height: 65px;
	font-weight: 600;
	color: #323232;
	margin: 0 0 0 360px;
	}
	&_link{
	margin: 0 0 0 450px;
	font-size: 17.9px;
	line-height: 15px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 700;
	a{
		color: #008ed6;
		margin: 0 0 0 10px;
	}
	}
}


																		// footer	

.footer {
	 height: 280px;
	 width: 100%;
	 background-color: #f7f8fa;
	&_row {
		display: flex;
		flex-direction:column;
		height: 100%;
		padding: 70px 0px 0px 0px ;
	}
	&_landx {
	font-family: Walkway;
	font-size: 35px;
	line-height: 29px;
	font-weight: 900;
	color: #323232;
	text-align: center;
	span{
	color: #0199e6;
	}
	
}
	&_2014 {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #919191;
	margin:15px 0px 0px 0px; 
	}
	&_networks {
	font-size: 25px;
	line-height: 60px;
	font-weight: 400;
	letter-spacing: 0.25em;
	color: #919191;
	margin:15px 0px 0px 2px; 
	
    }
    &_box{
    	margin: 0px auto;
    	width: 190px;
    	}

}


